<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hardcodedjoy.example.imageviewer">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="false">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" android:scheme="file" />
                <data android:mimeType="image/png" android:scheme="file" />
                <data android:mimeType="image/heic" android:scheme="file" />
                <data android:mimeType="image/heif" android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" android:scheme="content" />
                <data android:mimeType="image/png" android:scheme="content" />
                <data android:mimeType="image/heic" android:scheme="content" />
                <data android:mimeType="image/heif" android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/heif" />
            </intent-filter>
        </activity>
    </application>
</manifest>